fastapi
uvicorn
websockets
PyAutoGUI
pywin32
pyperclip
pillow
faster-whisper
sounddevice
numpy
requests
httpx
pyttsx3
youtube-transcript-api
chromadb
customtkinter
keyboard
huggingface_hub
pyinstaller
